*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(250, 5, 123);
    --heading-font:"Saira Semi Condensed", sans-serif;
    --general-font:"Inter", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
header .top-header{
    background-color: rgb(10, 10, 10);
    padding: 10px 50px;
    color: rgb(236, 232, 232);
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
header .top-header ul  {
    display: flex;
    gap: 20px;
}
header .top-header ul li:hover{
    color: var(--primary-color);
    font-family:var(--primary-font);
}
header .navigation-bar nav ul li:hover{
    color: var(--primary-color);
}
header .navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
header .navigation-bar nav ul{
    display: flex;
    text-transform: uppercase;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    color: rgb(10, 9, 9);
    position: relative; 
    gap: 40px;
}
header .navigation-bar nav ul li .submenu {
    display: none;
    position: absolute;

    background-color: rgb(184, 184, 184);
    padding: 10px 100px;
    width: max-content;
    white-space: nowrap;
    z-index: 1;

}
header .navigation-bar nav ul li:hover .submenu{
    display: block;
    left: 0;
    padding: 10px 10px;
    top: 100%;
} 
header .navigation-bar nav ul li .submenu .menu-1{
    display: none;
    position: absolute;

    background-color: rgb(238, 237, 236);
    padding: 10px 0;
    width: max-content;
    z-index: 1;

}
header .navigation-bar nav ul li .submenu:hover .menu-1{
    display: block;
    left: 100%;
    top: 0;
}

header .navigation-bar button{
    background-color: transparent;
    border: none;
    padding-left: 20px;
    width: 20px;
}
.container{
    width: 1320px;
    margin-inline: auto;
}
.banner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    width: 100%;
    gap: 5px;
    position: relative;
}
.banner-newsfirst-news{
    position: relative;
    display: grid;
}
.banner-newsfirst-news .news-details{
    position: absolute;    
    bottom: 50px;
    left: 40px;
    grid-row: span 2;
    grid-column: span 2;
}
.banner-news{
    display: grid;
    position: relative;
}
.banner-news > .news-details{
    position: absolute;
    bottom: 50px;
    left: 40px;    
}
.banner-newsfirst-news img{
    height: 100%;
    width: 100%;
    grid-row: span 2;
    grid-column: span 2;
    object-fit: cover;
}
.banner-news img{
    height: 100%;
    width: 100%;
    padding: 2px;
    object-fit: cover;
    grid-row: span 1;
    grid-column: span 1;
}
.banner span{
    height: 100%;
    width:100%;
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
    font-family: var(--heading-font);
    color: rgb(207, 197, 197);
    background-color: var(--primary-color);
}
 .news-details > .banner-heading{
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    font-family: var(--heading-font);
    color:rgb(236, 227, 227);
}
.news-details > .news-time{
    height: 100%;
    width: 100%;
    font-family: var(--general-font);
    color: gray;
    font-size: 16px;
}
.news-details1 > .banner-heading{
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    font-family: var(--heading-font);
    color: rgb(236, 227, 227);
}
.news-details1 > .news-time{
    height: 100%;
    width: 100%;
    font-family: var(--general-font);
    color: gray;
    font-size: 16px;
}
.banner-news > .news-details1{
    position: absolute;
    bottom: 280px;
    left: 40px;  
}


.trending{
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 24px;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 600;
    margin: 0 100px;
    text-transform: uppercase;
    display: inline-flex;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 100px;
}
.img-object1 img{
    display: grid;
    height: 60%;
    width: 100%;
    padding: 30px;
    object-fit: cover;
}
.img-object2 img{
    display: grid;
    height: 60%;
    width: 100%;
    padding: 30px;
    object-fit: cover;
}
.img-object3 img{
    display: grid;
    height: 60%;
    width: 100%;
    padding: 30px;
    object-fit: cover;
}
.img-object1 > .img-details a{
    display: block;
    padding: 20px;
    font-size: 12px;
    font-weight: 600;
    color:  rgb(8, 8, 8);
    font-family: var(--heading-font);

}
.img-object2 > .img-details a{
    display: block;
    padding: 20px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(8, 8, 8);
    font-family: var(--heading-font);

}
.img-object3 > .img-details a{
    display: block;
    font-size: 12px;
    padding: 20px;
    font-weight: 600;
    color: rgb(8, 8, 8);
    font-family: var(--heading-font);
}
.img-object1 > .img-details > time{
    font-size: 12px;
    font-weight: 400;
    padding: 40px;
    font-family: var(--general-font);
    color: rgb(138,138,138);
}
.img-object2 > .img-details > time{
    font-size: 12px;
    font-weight: 400;
    padding: 40px;
    font-family: var(--general-font);
    color:  rgb(138,138,138);
}
.img-object3 > .img-details > time{
    font-size: 12px;
    font-weight: 400;
    padding: 40px;
    font-family: var(--general-font);
    color:  rgb(138,138,138);
}
.object{
    height: 1200;
    width: 250;
    margin: 0 100px;
}
.object > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
}
.container-margin-top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.horizontal-news{
    display: flex;
    margin-inline: auto;
}

.horizontal-news:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.horizontal-news img{
    padding: 30px;
    width: 300px;
    padding-right: 20px;
    padding-top: 40px;

}
.horizontal-news .details-news{
    padding: 30px;
    padding-top: 40px;
    border-bottom: 1px solid gray;
}
.horizontal-news > .details-news{
    margin-top:  40px;
}
.details-news > span{
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
}
.details-news > h3{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 18px;
    padding-block: 8px 8px;
}
.details-news > h3:hover{
    color: var(--primary-color);
}
.details-news > .author-post{
    font-family: var(--general-font);
    font-size: 12px;
    color: gray;
}
.details-news > .author-post .author{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.details-news > .author-post > .comment{
    padding-left: 20px;
}
 .container-margin-top > .left > h2{ 
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 12px;
    padding: 30px;
}
.postion-stiky{
    position: sticky;
    top: 0px;
}
.bannernews img{
    height: 100%;
    width: 100%;   
    object-fit: cover;
    margin-block: 20px 100px;
    padding: 30px 100px;
}
.bannernews{
    position: relative;
}
.bannernews .news-details{
    position: absolute;
    bottom: 150px;
    margin: 0 100px;
    left: 40px;    
}
.bannernews .news-details span{
    height: 100%;
    width:100%;
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
    font-family: var(--heading-font);
    color: rgb(207, 197, 197);
    background-color: var(--primary-color);
}
.wrapper-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 100px;
    background-color: rgb(236, 229, 229);
}
footer{
    background-color: black;
    padding-block: 70px;
    margin-top: 50px;
    text-align: center;
}
footer img{
    height: 40px;
    width: fit-content;
}
footer .social-media{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
footer .social-media li:hover i{
    color: var(--primary-color);
}
footer .social-media li{
    height: 40px;
    width: 40px;
    background-color: rgb(88, 79, 79);
    border-radius: 50%;
    color: white;
    align-content: center;
}
footer .li{
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 12px;
    font-family: var(--general-font);
    text-transform: uppercase;
    margin-top: 30px;
}
footer p{
    color: rgb(39, 36, 36);
    margin-top: 30px;
    gap: 20px;
    font-size: 12px;
    font-family: var(--general-font);
}
footer p a{
    color: rgb(146, 141, 141);
    margin-top: 30px;
    gap: 20px;
    font-size: 12px;
    font-family: var(--general-font);
}
.container{
    margin-inline: auto;
    padding-inline: auto;
}
